.App {
  display: flex;
  flex-direction: row;
  padding:25px;
  justify-content: space-between;
}

.column {
  width: calc((100vw - 125px) / 4);
}

.name-plate{
  height: 30px;
  background-color: #a6a;
  text-align: center;
}

.card{
  display: flex;
  border: 1px solid black;
  padding: 14px 12px;
}
button{
  border: none;
  margin: 10px;
  background-color: #0000;
}
